readonly CONFIG_DIR=/opt/snowplow/config

sudo mkdir -p $${CONFIG_DIR}

sudo base64 --decode << EOF > $${CONFIG_DIR}/enrich.hocon
${config_b64}
EOF

sudo base64 --decode << EOF > $${CONFIG_DIR}/iglu_config.json
${iglu_config_b64}
EOF

sudo docker run \
  -d \
  --name enrich \
  --restart always \
  --network host \
  --memory=$(get_application_memory_mb)m \
  --log-opt max-size=10m \
  --log-opt max-file=5 \
  --mount type=bind,source=$${CONFIG_DIR},target=/snowplow/config \
  --env JDK_JAVA_OPTIONS='${java_opts}' \
  --env ACCEPT_LIMITED_USE_LICENSE=${accept_limited_use_license} \
  --env INSTANCE_ID=$(get_instance_id) \
  --env CONSUMER_CLIENT_ID="$${HOSTNAME}" \
  --env PRODUCER_BAD_CLIENT_ID="$${HOSTNAME}-bad" \
  --env PRODUCER_ENRICHED_CLIENT_ID="$${HOSTNAME}-enriched" \
  snowplow/snowplow-enrich-kafka:${version} \
  --config /snowplow/config/enrich.hocon \
  --iglu-config /snowplow/config/iglu_config.json \
  --enrichments ${enrichments_b64}

${telemetry_script}
